*{font-family:Arial,Verdana,Sans-serif;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;outline:0;padding:0;vertical-align:baseline;}:focus{outline:0;}body{background:#fff;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{font-weight:normal;text-align:left;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}a img{border:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{background:#000;color:#fff;}div#gooru-resource-player-base-container{height:100%;min-width:300px;margin:0 auto;border:3px solid black;}div#gooru-resource-player-header-container{height:40px;width:100%;background-color:#515151;-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);box-shadow:0 0 10px rgba(0,0,0,0.3);background:-webkit-gradient(linear,0 0,0 100%,from(#515151),to(#333));background:-webkit-linear-gradient(top,#515151,#333);background:-moz-linear-gradient(top,#515151,#333);background:-ms-linear-gradient(top,#515151,#333);background:-o-linear-gradient(top,#515151,#333);filter:progid;}div#gooru-branded-log{width:115px;float:right;height:40px;background-position:-16px -306px;}div#gooru-resource-player-meta-container{border-bottom:1px solid #525150;}div.gooru-resource-player-overlay-icon{background:url("${gooru.player.static.file}/images/resource-overlay-icons.png") repeat scroll 0 0 transparent;}div.gooru-resource-type-overlay-icon{background:url("${gooru.player.static.file}/images/resource-format-type-icons.png") no-repeat scroll 0 0 transparent;}div.gooru-resource-player-overlay-icon,div.gooru-resource-type-overlay-icon{display:block;width:40px;height:26px;margin-top:8px;float:left;}div.gooru-resource-type-overlay-icon-question{background-position:5px -138px;}div.gooru-resource-type-overlay-icon-video{background-position:5px 3px;}div.gooru-resource-type-overlay-icon-webpage{background-position:5px -223px;}div.gooru-resource-type-overlay-icon-image{background-position:5px -250px;}div.gooru-resource-type-overlay-icon-interactive{background-position:5px -27px;}div.gooru-resource-type-overlay-icon-text{background-position:5px -54px;}div.gooru-resource-type-overlay-icon-audio{background-position:5px -278px;}div.gooru-resource-type-overlay-icon-other{background-position:5px -307px;}div#gooru-resource-player-header-meta-left,div#gooru-resource-player-header-meta-right{width:50%;float:left;height:40px;overflow:hidden;}div.gooru-resource-player-content{float:left;width:72%;overflow:hidden;height:40px;}div.gooru-resource-player-title{font-family:Arial,sans-serif!important;height:1.1em;line-height:1.1em;font-size:20px;color:#fff;margin-top:7px;overflow:hidden;}div.gooru-resource-player-source{line-height:1.1em;height:1.1em;overflow:hidden;font-size:12px;color:#BDBEBD;}div#gooru-resource-player-about,div#gooru-resource-player-learn-more,div#gooru-resource-player-share{float:right;margin-right:10px;margin-top:13px;height:21px;color:#FFF;font-size:12px;}div#gooru-resource-player-learn-more-grey{float:right;margin-right:10px;margin-top:13px;height:21px;color:#717171;font-size:12px;display:none;}div#gooru-resource-player-about:hover,div#gooru-resource-player-learn-more:hover,div#gooru-resource-player-share:hover{font-weight:bold;cursor:pointer;}div#gooru-resource-player-about,div#gooru-resource-player-share{width:40px;}div#gooru-resource-player-learn-more{width:69px;}div#gooru-resource-player-learn-more-container,div#gooru-resource-player-share-container{display:none;}div#gooru-resource-player-about-container,div#gooru-resource-player-learn-more-container,div#gooru-resource-player-share-container{margin:0 auto;height:306px;width:100%;overflow:hidden;background:#515151}div#gooru-resource-player-desc-container,div#gooru-resource-player-type-container{
height:25px;margin:0 auto;}div#gooru-resource-player-right-container,div#gooru-resource-player-tags-container{height:35px;margin:0 auto;font-size:12px;color:#515150;overflow:hidden;padding-top:5px;clear:both;margin-left:5px;}div#gooru-resource-player-standards-container{height:22px;margin:0 auto;font-size:12px;color:#515150;clear:both;padding-top:11px;}div#gooru-resource-player-desc-header,div#gooru-resource-player-right-header,div#gooru-resource-player-standards-header,div#gooru-resource-player-tags-header,div#gooru-resource-player-type-header,div#gooru-resource-player-source-header,div#gooru-resource-player-social-header{float:left;font-size:13px;color:#515150;width:80px;font-weight:bold;}div#gooru-resource-player-type-content{font-size:12px;color:#515150;margin-left:5px;margin-top:3px;height:2.2em;overflow:hidden;text-transform:capitalize;}div#gooru-resource-player-desc-content{height:3em;line-height:1.5em;overflow:hidden;word-wrap:break-word;font-size:12px;color:#515150;margin-top:3px;}div#gooru-resource-player-right-content{float:left;}span.resourcePreviewTooltipOER,span.resourcePreviewTooltipLicense,div#gooru-resource-player-standards-content{float:left;}div#gooru-resource-player-right-content img.oerimage{margin-left:10px;}div#gooru-resource-player-source-container div.resourceOriginalSource{float:left;font-size:12px;margin-left:5px;height:2.2em;line-height:1.1em;overflow:hidden;}div#gooru-resource-player-source-container div.resourceOriginalSource a{color:#1076bb;}div#gooru-resource-player-right-container span.resourcePreviewTooltipOER,div#gooru-resource-player-right-container span.resourcePreviewTooltipLicense,div#gooru-resource-player-standards-content div.CodePopUpDescription,div#gooru-resource-player-standards-content div.code-popup-title{color:#3e3e3e;text-align:left;font-size:12px;}div#gooru-resource-player-standards-content div.code-popup-title{font-weight:bold;}div#gooru-resource-player-right-container span.resourcePreviewTooltipOER a,div#gooru-resource-player-right-container span.resourcePreviewTooltipLicense a{color:#3e3e3e;text-align:center;text-decoration:none;}div#gooru-resource-player-standards-content span.standardsDescription{background:none repeat scroll 0 0 #515151;border-radius:3px 3px 3px 3px;color:#FFF;cursor:pointer;float:left;font-size:10px;margin-bottom:5px;margin-right:5px;padding:4px;}div#gooru-resource-player-standards-content div.noStandardsAvailable{margin-top:1px;}div#gooru-resource-player-header-meta-right span.resourcePreviewHeaderNavigationArrow{background:url('${gooru.player.static.file}/images/all-arrow-icon.png');width:35px;height:20px;position:relative;display:none;background-position:-16px -163px;left:3px;}div#gooru-resource-player-header-meta-right span.resourcePreviewHeaderNavigationArrowLearnMore{left:16px;}div#gooru-resource-player-header-meta-right span.resourcePreviewHeaderNavigationArrowAbout{display:block;}div.gooru-resource-player-menu-about-selected,div.gooru-resource-player-menu-learn-more-selected,div.gooru-resource-player-menu-share-selected{font-weight:bold;}div#gooru-resource-player-embed-content,div#gooru-resource-player-share-content{width:45%;}div.learn-more-image-container{float:left;width:130px;height:100px;margin-left:10px;margin-top:5px;border-left:7px solid #1076BB;margin-bottom:5px;}div.learn-more-image img{height:100px;width:130px;}div#gooru-resource-player-learn-more-container div.learn-more-title{position:relative;top:-104px;height:30px;color:#fff;font-size:12px;word-wrap:break-word;}div#gooru-resource-player-tags-container div.gooru-resource-player-tags,div#gooru-resource-player-source-container,div#gooru-resource-player-social-container{float:left;margin-left:5px;height:25px;width:100%;}div.learn-more-image-container a{text-decoration:none;}div.linkedOutWebResource{position:relative;top:33%;}div.linkedOutWebResourceImage{background:rgba(0,0,0,0.7);width:90%;height:80px;margin:0 auto;}div.linkedOutWebResourceImageContainer{width:50%;float:left;height:80px;}div.linkedOutWebResourceImg{width:80px;float:left;margin-left:10px;margin-top:
10px;}div.linkedOutWebResourceDetails{width:54%;float:left;text-align:left;margin-left:10px;height:80px;color:#fff;}div.linkedOutWebResourceLink{width:50%;float:left;height:80px;color:#fff;font-size:18px;}div.linkedOutWebResourceLinkText{font-size:17px;margin-top:30px;}div.linkedOutWebResourceTitle{margin-top:15px;font-size:13px;height:1.1em;overflow:hidden;}div.linkedOutWebResourceSource{margin-top:18px;font-size:12px;height:1.1em;overflow:hidden;}div.linkedOutWebResourcePreview{background:#bdbebd;}div#gooru-resource-player-message{width:35%;margin:0 auto;}div#gooru-resource-player-message{color:#fff;}div#gooru-resource-player-message a,div#gooru-resource-player-message a:hover{color:#1076bb;text-decoration:underline;}div#gooru-resource-player-message-container{background:#000;vertical-align:middle;display:table;width:100%;position:relative;font-size:20px;}div.gooru-resource-player-learn-more-title-cont{background:rgba(0,0,0,0.7);vertical-align:middle;display:table;width:100%;position:relative;height:30px;}div#gooru-resource-player-message,div.gooru-resource-player-learn-more-title{display:table-cell;position:relative;vertical-align:middle;text-align:center;}div.gooru-resource-player-learn-more-title{font-size:12px;line-height:1.1em;overflow:hidden;height:2.2em;padding-left:5px;text-align:left;}div#gooru-resource-player-standards-content{height:23px;overflow:hidden;width:80%;}div#gooru-resource-player-container{margin:0 auto;width:100%;}div#gooru-resource-player-about-content-left,div#gooru-resource-player-about-content-right{padding-top:10px;padding-left:10px;width:96%;}div#gooru-resource-player-about-container-left{float:left;width:65%;}div#gooru-resource-player-about-container-right{float:left;width:35%;}div#gooru-resource-player-social-content{float:left;color:#525150;font-size:12px;}div#gooru-resource-player-social-likes{color:#060;}.ui-widget-overlay{background:rgba(0,0,0,0.5)!important;opacity:1!important;}div#learn-more-collection-text-container{float:left;width:150px;color:#515151;font-size:12px;}div.gooru-resource-player-learn-more-study{height:25px;font-size:14px;background:#1076BB;line-height:26px;text-indent:9px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-khtml-border-radius:3px;font-weight:bold;}div.gooru-resource-player-learn-more-study:hover{background:#4C98CC;cursor:pointer;}div.gooru-resource-player-learn-more-content{width:85px;height:40px;float:right;margin-right:30px;cursor:pointer;position:relative;top:-101px;color:#fff;left:26px;display:none;}div#learn-more-collection-text-content{margin-top:36px;margin-left:11px;}div.gooru-resource-player-all-arrow{background:url('${gooru.player.static.file}/images/all-arrow-icon.png');width:20px;height:18px;position:relative;background-position:-35px -122px;top:-21px;left:58px;}::-webkit-scrollbar{width:8px;height:4px;background:#6f6d6d;}::-webkit-scrollbar-thumb{background-color:#bdbebd;-webkit-border-radius:1ex;}.gooru-question-play-container{background:#000;font-family:arial;color:#515151;width:100%;}.gooru-question-resource-container{background:#FFF;width:100%;height:auto;}span.gooru-question-content-container{width:45%;display:inline-block;margin-left:40px;margin-top:15px;float:left;}span.gooru-answer-content-container{display:inline-block;width:44%;margin-top:15px;margin-left:47px;}.border-bottom{border-bottom:solid 1px #ccc;margin-top:15px;margin-bottom:15px;}.gooru-question-text{margin-top:15px;}.gooru-question-image,.gooru-question-hint-explanation-button-container,.gooru-question-hint-container,.gooru-question-explanation-container{margin-top:10px;}input.gooru-question-container{height:30px;width:104px;border:solid 1px #ccc;border-radius:3px;margin-left:0!important;margin-top:4px;}.gooru-question-active-button-font{color:#1076bb;}.gooru-question-deactive-button-font{color:#A6A6A6;}input.gooru-answer-container{height:31px;width:102px;color:#A6A6A6;border:solid 1px #ccc;font-family:Arial,Helvetica,sans-serif;border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 
4px 4px 4px;-ms-border-radius:4px 4px 4px 4px;-khtml-border-radius:4px 4px 4px 4px;-o-border-radius:4px 4px 4px 4px;margin-right:55px;}.gooru-default-blue-button{background:-moz-linear-gradient(center top,#4c98cc,#1076bb) repeat scroll 0 0 transparent;background:-o-linear-gradient(top,#4c98cc,#1076bb);background:-webkit-gradient(linear,0 0,0 100%,from(#4c98cc),to(#1076bb));background:-webkit-linear-gradient(top,#4c98cc,#1076bb);background:-moz-linear-gradient(top,#4c98cc,#1076bb);background-image:-ms-linear-gradient(top,#4c98cc,#1076bb);background:-o-linear-gradient(top,#4c98cc,#1076bb);background-color:#1076bb;color:#FFF!important;border:solid 1px #1076bb!important;}.gooru-question-header{color:#1076bb;font-size:20px;}.gooru-answer-header{color:#5c8b57;font-size:20px;}.gooru-select-answer{margin-bottom:20px;width:100%;font-size:12px;font-style:italic;color:#999;}.gooru-multiple-choice-answer{font-size:12px;margin:10px 0 10px 0;}.gooru-question-text,.gooru-question-hint-container,.gooru-question-explanation-container,.gooru-fib-answer-question-text{font-size:14px;}.multiple-choice-answer-marker,.multiple-choice-answer-radio,.multiple-choice-answer-option{display:inline-block;}.multiple-choice-answer-marker{width:24px;height:19px;position:relative;top:7px;}.multiple-choice-answer-text{width:64%;display:inline-block;position:relative;top:10px;word-break:break-word;vertical-align:top;}.gooru-multiple-choice-answer-container{position:relative;left:-27px;}input[type="radio"]{height:17px;width:17px;position:relative;top:6px;border:1px solid #ccc;}.gooru-default-grey-disable-button{background:#f9fcf7;background:-moz-linear-gradient(top,rgba(249,252,247,1) 38%,rgba(217,221,221,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(38%,rgba(249,252,247,1)),color-stop(100%,rgba(217,221,221,1)));background:-webkit-linear-gradient(top,rgba(249,252,247,1) 38%,rgba(217,221,221,1) 100%);background:-o-linear-gradient(top,rgba(249,252,247,1) 38%,rgba(217,221,221,1) 100%);background:-ms-linear-gradient(top,rgba(249,252,247,1) 38%,rgba(217,221,221,1) 100%);background:linear-gradient(to bottom,rgba(249,252,247,1) 38%,rgba(217,221,221,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fcf7',endColorstr='#d9dddd',GradientType=0);}input[type="button"],span.standardExtraCount{cursor:pointer;}img.gooru-question-image{max-height:50%;max-width:90%;}.question-correct-answer-marker{background:url("${gooru.player.static.file}/images/correct_marker_icon.png") repeat scroll 0 0 transparent;display:inline-block;visibility:hidden;}.question-wrong-answer-marker{background:url("${gooru.player.static.file}/images/wrong_marker_icon.png") repeat scroll 0 0 transparent;display:inline-block;visibility:hidden;}.gooru-question-hint-container,.gooru-question-explanation-container{display:none;}input.fib-answer{width:105px;border:solid 1px #ccc;}.gooru-question-fib-answer-slate{background-color:#efefef;width:83%;padding:20px 20px 12px 20px;font-size:12px;margin-top:30px;display:none;}.gooru-fib-marked-answer-list{margin-bottom:8px;display:none;}span.wrong-answer-marker-show{background:url("${gooru.player.static.file}/images/wrong_marker_icon.png") repeat scroll 0 0 transparent;display:inline-block;height:20px;width:20px;position:relative;top:5px;left:-2px;}textarea#gooru-oe-answer-submit{width:95%;font-size:12px;height:110px;max-height:221px;border:solid 1px #ccc;resize:none;}input#gooru-oe-save-button{width:45px;}div#gooru-oe-submited-answer{display:none;font-size:12px;word-break:break-all;}.resourcePreviewBoxContentContainer{background:#FFF;}div.gooru-question-play-container{overflow-y:auto;background:#FFF;}
/*::-webkit-scrollbar{display:none;}*/
div.mc-question-yes-no-header{font-size:12px;font-style:italic;color:#515151;position:relative;display:inline-block;top:10px;left:29px;}span.standardExtraCount{color:#0f76bb;display:inline-block;margin:2px 0 0 2px;font-size:10px;}div#gooru-resource-player-new-tab{height:50px;font-size:22px;background:#1076BB;line-height:50px;text-indent:16px;
border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-khtml-border-radius:3px;font-weight:bold;width:200px;color:#fff;margin:0 auto;margin-top:105px;margin-bottom:69px;}div#gooru-resource-player-new-tab:hover{background:#4C98CC;cursor:pointer;}div.gooru-new-tab-click-message{color:#333;margin:0 auto;width:520px;font-size:26px;position:relative;top:50px;}div.gooru-resource-http-error-issue-message{color:black;width:572px;margin:0 auto;font-size:16px;}div.gooru-oe-answer-empty-error-message{display:none;color:#fbb03b;font-style:italic;font-size:12px;margin-top:10px;}






#dashboard-profile-activity-overview #profile-activity-overflow-search-for {
float:left;
width:68%;
padding:1% 1% 1% 1%;
background:#FFF;

margin-left:15%;
margin-top: 2%;
height: 50%;
}

#dashboard-profile-activity-overview #profile-activity-part1 {
width:47%;
font-family: Arial, Verdana, Sans-serif;
color: #515151;
font-size: 14px;
height: 30px;
float:left;
height:227px;
overflow:auto;
}

#dashboard-profile-activity-overview #profile-activity-part1 {
margin-left: 1%;


}

#dashboard-profile-activity-overview #profile-activity-part1 span{
font-weight: bold;
}

#dashboard-profile-activity-overview #profile-activity-part1 span{
font-weight: bold;
}

#dashboard-profile-activity-overview #profile-title {

}

#dashboard-profile-activity-overview #profile-title span{
width: 52%;
float: left;
}

#dashboard-profile-activity-overview #profile-subcontent-header-content {
margin-top: 3%;
}

#dashboard-profile-activity-overview label{
font-weight:bold;
font-family: Arial, Verdana, Sans-serif;
color: #515151;
font-size: 12px;
height: 30px;

}

#dashboard-profile-activity-overview #profile-description-content {
margin-top:2%;
font-size:12px;
margin-right: 4%;
}

#dashboard-profile-activity-overview #profile-horizondal-line {
display: block; 
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 0.5em 0;
padding: 0;
width:99%;
}

#dashboard-profile-activity-overview #profile-half-content-label {
font-weight:bold;
font-family: Arial, Verdana, Sans-serif;
color: #515151;
font-size: 12px;
height: 24px;
float:left;
}

#dashboard-profile-activity-overview #profile-vertical-line{

margin-left: 33%;
background-color: #000;
width: 1px;
height: 50%;
margin-top: 0%;
}

#dashboard-profile-activity-overview #profile-activity-part2 {
width: 50%;
float: right;
border-left: 1px solid #000;

}

#dashboard-profile-activity-overview #profile-activity-part1 span.category-webpage{
background-position: 0px -224px !important;
}

#dashboard-profile-activity-overview #profile-activity-part1 span.category-interactive{
background-position: 0px -27px !important;
}

#dashboard-profile-activity-overview #profile-activity-part1 span.category-question{
background-position: 0px -140px !important;
}

#dashboard-profile-activity-overview #profile-activity-part1 span.category-image{
background-position: 0px -250px !important;
}

#dashboard-profile-activity-overview #profile-activity-part1 span.category-text{
background-position: 0px -56px !important;
}

#dashboard-profile-activity-overview #profile-activity-part1 span.category-audio{
background-position: 0px -280px !important;
}

#dashboard-profile-activity-overview #profile-activity-part2 label{
font-weight:bold;
font-family: Arial, Verdana, Sans-serif;
color: #515151;
font-size: 14px;
height: 30px;
margin-left:3%;
}

#dashboard-profile-activity-overview #profile-activity-part2 #profile-right-content-image-structure{
width:33%;
float:left;
}

#dashboard-profile-activity-overview #profile-activity-part2 #profile-right-side-content {
margin-top:2%;
}

#dashboard-profile-activity-overview #profile-activity-part2 #profile-image-right-title{
font-weight:bold;
font-family: Arial, Verdana, Sans-serif;
color: #1076BB;
font-size: 16px;
min-height: 20px;
}

#dashboard-profile-activity-overview #profile-activity-part2 #profile-secondary-topic {
font-weight:normal;
font-family: Arial, Verdana, Sans-serif;
color: #999999;
font-size: 13px;
min-height: 35px;
}










